.shapes {
	position: absolute;
	inset: 0;
	z-index: 50;
	height: 80vh;
	width: 100%;

	& > * {
		position: absolute;
		z-index: 50;
	}

	&__gray {
		right: 20%;
		top: 60%;
		transform: scale(0.6);
	}

	// &__purple {
	// 	top: 30%;
	// 	left: 25%;
	// 	transform: scale(0.7);
	// }

	&__purple2 {
		display: none;

		@include respond(tab-land) {
			display: inline-flex;
			top: -10%;
			right: 40%;
		}
	}

	&__square {
		left: 0;
		top: 50%;
	}

	&__yellow {
		top: 20%;
		right: 0;

		@include respond(tab-land) {
			top: 5%;
			right: 10%;
			transform: scale(0.9);
		}
	}

	&__triangle {
		bottom: 0;
		right: -30%;
		transform: scale(0.5);

		@include respond(tab-land) {
			right: 30%;
			transform: scale(0.9);
		}
	}
}
