$font-poppins: 'Poppins', sans-serif;
$font-libre-franklin: 'Libre Franklin', sans-serif;
$font-kreon: 'Kreon', serif;
$font-manrope: 'Manrope', serif;
$font-ropa-sans: 'Ropa Sans', serif;

$royal-purple: #7852a9;
$strawberry-pink: #fa6a78;
$gray-dark: #293435;
$yellow-bright: #eace09;
$white: #fff;
