@import './styles.scss';

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	overflow-x: hidden;
	font-family: $font-primary;
	font-weight: 400;
}

.app {
	overflow-x: hidden;
	position: relative;
	scroll-behavior: smooth;
	background-color: $white;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
	display: none;
}

::-webkit-scrollbar-track {
	display: none;
}
