.loading {
  position: absolute;
  z-index: 10000000000;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #7852a9;
}

.hero {
  height: 100vh;
  scroll-snap-align: start;
}

.navigation {
  position: relative;
  z-index: 10000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  transition: all 0.5s ease-in-out;
}
.navigation__logo {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 75em) {
  .navigation__logo {
    padding: 0 2rem;
    width: 60%;
  }
}
.navigation__logo--icon {
  transform: scale(0.6);
}
.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 30%;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 75em) {
  .navigation__wrapper {
    width: 40%;
    padding: 0 4.5rem;
  }
}
.navigation__menu {
  position: relative;
  z-index: 999;
  color: #eee;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 75em) {
  .navigation__menu {
    display: none;
  }
}
.navigation__menu--open {
  color: #293435;
}
.navigation__menu--icon {
  width: 3rem;
  height: 3rem;
}
.navigation__list {
  position: relative;
  z-index: 999;
  display: none;
  list-style: none;
  gap: 3rem;
}
@media screen and (min-width: 75em) {
  .navigation__list {
    display: inline-flex;
  }
}
.navigation__link {
  position: relative;
  text-decoration: none;
  color: #eee;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}
.navigation__link::before {
  position: absolute;
  bottom: -30%;
  content: "";
  height: 0.3rem;
  width: 0;
  background-color: #eace09;
  border-radius: 1000px;
  transition: all 0.4s ease-in-out;
}
.navigation__link:hover::before, .navigation__link:focus::before {
  width: 75%;
}

.menu {
  position: absolute;
  top: 0;
  z-index: 998;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2em;
  background-color: #7852a9;
  transform: translateX(80%);
  transition: all 0.6s ease-in-out;
}
@media screen and (min-width: 75em) {
  .menu {
    width: 80%;
  }
}
.menu--open {
  transform: translateX(-20%);
}
.menu__wrapper {
  width: 20%;
  position: relative;
}
@media screen and (min-width: 75em) {
  .menu__wrapper {
    width: 35%;
  }
}
.menu__poly {
  position: absolute;
  z-index: 10000;
  right: 14%;
  bottom: -3%;
  width: 550%;
  height: 160%;
  -webkit-clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
  background-color: #fa6a78;
  transition: all 0.3s ease-out;
}
.menu__poly--open {
  display: none;
}
.menu__navigation {
  width: 80%;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  height: 90%;
  list-style: none;
  transition: all 0.6s ease-in-out;
}
.menu__link {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-size: 3.5rem;
  color: #eace09;
  text-decoration: none;
}
.menu__link::before {
  position: absolute;
  bottom: -30%;
  content: "";
  height: 0.4rem;
  width: 0;
  background-color: #eee;
  border-radius: 1000px;
  transition: all 0.4s ease-in-out;
}
.menu__link:hover::before, .menu__link:focus::before {
  width: 75%;
}

.landing {
  position: relative;
  z-index: 600;
  display: flex;
  height: calc(100% - 6rem);
  width: 80%;
  padding: 2rem;
  transition: all 0.5s ease-in-out;
}
.landing > * {
  z-index: 600;
}
@media screen and (min-width: 56.25em) {
  .landing {
    padding: 3.2rem;
  }
}
.landing__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 56.25em) {
  .landing__text {
    max-width: 70%;
  }
}
.landing__text--name {
  position: relative;
  color: #7852a9;
  font-family: "Roboto", serif;
  font-size: 2rem;
}
@media screen and (min-width: 56.25em) {
  .landing__text--name {
    font-size: 2.2rem;
  }
}
.landing__text--name::before {
  position: absolute;
  bottom: -30%;
  height: 0.3rem;
  width: 40%;
  background-color: #eace09;
  border-radius: 1000px;
  content: "";
}
@media screen and (min-width: 56.25em) {
  .landing__text--name::before {
    width: 20%;
  }
}
.landing__text--role {
  color: #293435;
  font-family: "Outfit", sans-serif;
  font-size: 5rem;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 56.25em) {
  .landing__text--role {
    font-size: 6.5rem;
  }
}
.landing__text--description {
  color: #293435;
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 56.25em) {
  .landing__text--description {
    font-size: 3rem;
  }
}
.landing__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 70%;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 56.25em) {
  .landing__buttons {
    flex-direction: row;
  }
}
.landing__buttons--button {
  padding: 1.8rem 4rem;
  border: none;
  background-color: #eee;
  color: #eee;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 56.25em) {
  .landing__buttons--button {
    padding: 1.8rem 6rem;
  }
}
.landing__buttons--button:hover, .landing__buttons--button:focus {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.landing__buttons--button:active {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.landing__buttons--contact {
  background-color: #7852a9;
  border: 2px solid transparent;
}
.landing__buttons--contact:hover, .landing__buttons--contact:focus {
  background-color: transparent;
  color: #293435;
  border: 2px solid #eace09;
}
.landing__buttons--contact:active {
  background-color: #7852a9;
  border: 2px solid transparent;
  color: #eee;
}
.landing__buttons--resume {
  border: 2px solid #7852a9;
  color: #7852a9;
  background-color: transparent;
}
.landing__buttons--resume:hover, .landing__buttons--resume:focus {
  border: 2px solid transparent;
  color: #293435;
  background-color: #eace09;
}
.landing__buttons--resume:active {
  border: 2px solid #7852a9;
  color: #7852a9;
  background-color: transparent;
}
.landing__ghost {
  position: absolute;
  bottom: -40%;
  right: -20%;
  z-index: 100000000000;
  transform: scale(0.5);
}

.dashboard {
  position: relative;
  z-index: 1000000;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard > * {
  position: inherit;
  z-index: inherit;
}
@media screen and (min-width: 56.25em) {
  .dashboard {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.dashboard__details {
  width: 100%;
  color: #293435;
}
.dashboard__details--name {
  position: relative;
  font-size: 4rem;
  margin: 2rem 0rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 56.25em) {
  .dashboard__details--name {
    font-size: 6rem;
  }
}
.dashboard__details--name::before {
  position: absolute;
  bottom: -10%;
  height: 0.3rem;
  width: 20%;
  background-color: #eace09;
  border-radius: 1000px;
  content: "";
}
@media screen and (min-width: 56.25em) {
  .dashboard__details--name::before {
    width: 20%;
  }
}
.dashboard__details--description {
  font-size: 1.8rem;
  font-family: "Roboto", serif;
  margin: 1.5rem 0rem;
}
@media screen and (min-width: 56.25em) {
  .dashboard__details--description {
    font-size: 2rem;
  }
}
@media screen and (min-width: 56.25em) {
  .dashboard__details {
    width: 50%;
  }
}
.dashboard__built-with {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #7852a9;
  margin-top: 2.6rem;
}
@media screen and (min-width: 56.25em) {
  .dashboard__built-with {
    font-size: 2.4rem;
  }
}
.dashboard__list {
  margin-top: 1.6rem;
  margin-left: 2.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.dashboard__list--item {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", serif;
}
@media screen and (min-width: 56.25em) {
  .dashboard__list--item {
    font-size: 2rem;
  }
}
.dashboard__buttons {
  margin: 3.8rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.dashboard__buttons--button {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1.8rem 3rem;
  text-decoration: none;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 46.75em) {
  .dashboard__buttons--button {
    width: 60%;
  }
}
@media screen and (min-width: 56.25em) {
  .dashboard__buttons--button {
    width: 30%;
  }
}
.dashboard__buttons--button:hover, .dashboard__buttons--button:focus {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.dashboard__buttons--live {
  background-color: #7852a9;
  color: #eee;
  border: 2px solid transparent;
}
.dashboard__buttons--live:hover, .dashboard__buttons--live:focus {
  border: 2px solid #eace09;
  color: #293435;
  background-color: transparent;
}
.dashboard__buttons--github {
  border: 2px solid #7852a9;
  color: #7852a9;
}
.dashboard__buttons--github:hover, .dashboard__buttons--github:focus {
  background-color: #eace09;
  color: #293435;
  border: 2px solid transparent;
}
.dashboard__image {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 56.25em) {
  .dashboard__image {
    margin: 0;
    width: 50%;
  }
}

.snap {
  position: relative;
  z-index: 1000000;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.snap > * {
  position: inherit;
  z-index: inherit;
}
@media screen and (min-width: 56.25em) {
  .snap {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.snap__details {
  width: 100%;
  color: #293435;
}
.snap__details--name {
  position: relative;
  font-size: 4rem;
  margin: 2rem 0rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 56.25em) {
  .snap__details--name {
    font-size: 6rem;
  }
}
.snap__details--name::before {
  position: absolute;
  bottom: -10%;
  height: 0.3rem;
  width: 20%;
  background-color: #eace09;
  border-radius: 1000px;
  content: "";
}
@media screen and (min-width: 56.25em) {
  .snap__details--name::before {
    width: 20%;
  }
}
.snap__details--description {
  font-size: 1.8rem;
  font-family: "Roboto", serif;
  margin: 1.5rem 0rem;
}
@media screen and (min-width: 56.25em) {
  .snap__details--description {
    font-size: 2rem;
  }
}
@media screen and (min-width: 56.25em) {
  .snap__details {
    width: 50%;
  }
}
.snap__built-with {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #7852a9;
  margin-top: 2.6rem;
}
@media screen and (min-width: 56.25em) {
  .snap__built-with {
    font-size: 2.4rem;
  }
}
.snap__list {
  margin-top: 1.6rem;
  margin-left: 2.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.snap__list--item {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", serif;
}
@media screen and (min-width: 56.25em) {
  .snap__list--item {
    font-size: 2rem;
  }
}
.snap__buttons {
  margin: 3.8rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.snap__buttons--button {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1.8rem 3rem;
  text-decoration: none;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 46.75em) {
  .snap__buttons--button {
    width: 60%;
  }
}
@media screen and (min-width: 56.25em) {
  .snap__buttons--button {
    width: 30%;
  }
}
.snap__buttons--button:hover, .snap__buttons--button:focus {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.snap__buttons--live {
  background-color: #7852a9;
  color: #eee;
  border: 2px solid transparent;
}
.snap__buttons--live:hover, .snap__buttons--live:focus {
  border: 2px solid #eace09;
  color: #293435;
  background-color: transparent;
}
.snap__buttons--github {
  border: 2px solid #7852a9;
  color: #7852a9;
}
.snap__buttons--github:hover, .snap__buttons--github:focus {
  background-color: #eace09;
  color: #293435;
  border: 2px solid transparent;
}
.snap__image {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 56.25em) {
  .snap__image {
    margin: 0;
    width: 50%;
  }
}

.media {
  position: relative;
  z-index: 1000000;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2.5rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, #7852a9, #fa6a78);
}
.media > * {
  position: inherit;
  z-index: inherit;
}
@media screen and (min-width: 56.25em) {
  .media {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.media__details {
  width: 100%;
  color: #eee;
  text-align: right;
}
.media__details--name {
  position: relative;
  font-size: 4rem;
  margin: 2rem 0rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 56.25em) {
  .media__details--name {
    font-size: 6rem;
  }
}
.media__details--name::before {
  position: absolute;
  bottom: -10%;
  height: 0.3rem;
  width: 20%;
  background-color: #eace09;
  border-radius: 1000px;
  content: "";
}
@media screen and (min-width: 56.25em) {
  .media__details--name::before {
    width: 20%;
  }
}
.media__details--description {
  font-size: 1.8rem;
  font-family: "Roboto", serif;
  margin: 1.5rem 0rem;
}
@media screen and (min-width: 56.25em) {
  .media__details--description {
    font-size: 2rem;
  }
}
@media screen and (min-width: 56.25em) {
  .media__details {
    width: 50%;
  }
}
.media__built-with {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #293435;
  margin-top: 2.6rem;
}
@media screen and (min-width: 56.25em) {
  .media__built-with {
    font-size: 2.4rem;
  }
}
.media__list {
  margin-top: 1.6rem;
  margin-right: 2.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}
.media__list--item {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", serif;
}
@media screen and (min-width: 56.25em) {
  .media__list--item {
    font-size: 2rem;
  }
}
.media__buttons {
  margin: 3.8rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.media__buttons--button {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1.8rem 3rem;
  text-decoration: none;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 46.75em) {
  .media__buttons--button {
    width: 60%;
  }
}
@media screen and (min-width: 56.25em) {
  .media__buttons--button {
    width: 30%;
  }
}
.media__buttons--button:hover, .media__buttons--button:focus {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.media__buttons--live {
  background-color: #eace09;
  color: #293435;
  border: 2px solid transparent;
}
.media__buttons--live:hover, .media__buttons--live:focus {
  border: 2px solid #eace09;
  background-color: transparent;
  color: #eee;
}
.media__buttons--github {
  border: 2px solid #eace09;
  color: #293435;
}
.media__buttons--github:hover, .media__buttons--github:focus {
  background-color: #7852a9;
  color: #eee;
  border: 2px solid transparent;
}
.media__image {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 56.25em) {
  .media__image {
    margin: 0;
    width: 50%;
  }
}

.shapes {
  position: fixed;
  inset: 0;
  z-index: 50;
  height: 80vh;
  width: 100%;
}
.shapes > * {
  position: absolute;
  z-index: 50;
}
.shapes__gray {
  right: 20%;
  top: 60%;
  transform: scale(0.6);
  -webkit-animation: circle3 infinite ease-in-out 60s;
          animation: circle3 infinite ease-in-out 60s;
}
.shapes__purple2 {
  display: none;
  -webkit-animation: circle2 infinite ease-in-out 60s;
          animation: circle2 infinite ease-in-out 60s;
}
@media screen and (min-width: 56.25em) {
  .shapes__purple2 {
    display: inline-flex;
    top: -10%;
    right: 40%;
  }
}
.shapes__square {
  left: 0;
  top: 50%;
  -webkit-animation: square infinite ease-in-out 60s;
          animation: square infinite ease-in-out 60s;
}
.shapes__yellow {
  display: none;
  -webkit-animation: circle4 infinite ease-in-out 60s;
          animation: circle4 infinite ease-in-out 60s;
}
@media screen and (min-width: 56.25em) {
  .shapes__yellow {
    display: inline-flex;
    top: 5%;
    right: 10%;
    transform: scale(0.9);
  }
}
.shapes__yellow2 {
  -webkit-animation: circle4 infinite ease-in-out 60s;
          animation: circle4 infinite ease-in-out 60s;
}
@media screen and (min-width: 56.25em) {
  .shapes__yellow2 {
    transform: scale(0.9);
  }
}
.shapes__triangle {
  bottom: 0;
  right: -30%;
  transform: scale(0.5);
  -webkit-animation: circle1 infinite ease-in-out 60s;
          animation: circle1 infinite ease-in-out 60s;
}
@media screen and (min-width: 56.25em) {
  .shapes__triangle {
    right: 30%;
    transform: scale(0.9);
  }
}

@-webkit-keyframes circle1 {
  0% {
    transform: translateX(-32rem);
    transform: scale(0.6);
  }
  33% {
    transform: translateY(43rem);
    transform: scale(1.1);
  }
  66% {
    transform: translateY(-23rem);
    transform: translateX(32rem);
    transform: scale(1.6);
  }
  100% {
    transform: translate3d(-32rem);
    transform: scale(1.3);
  }
}

@keyframes circle1 {
  0% {
    transform: translateX(-32rem);
    transform: scale(0.6);
  }
  33% {
    transform: translateY(43rem);
    transform: scale(1.1);
  }
  66% {
    transform: translateY(-23rem);
    transform: translateX(32rem);
    transform: scale(1.6);
  }
  100% {
    transform: translate3d(-32rem);
    transform: scale(1.3);
  }
}
@-webkit-keyframes circle2 {
  0% {
    transform: translateX(-24rem);
  }
  33% {
    transform: translateY(46rem);
  }
  66% {
    transform: translateY(-26rem);
    transform: translateX(37rem);
  }
  100% {
    transform: translate3d(-24rem);
  }
}
@keyframes circle2 {
  0% {
    transform: translateX(-24rem);
  }
  33% {
    transform: translateY(46rem);
  }
  66% {
    transform: translateY(-26rem);
    transform: translateX(37rem);
  }
  100% {
    transform: translate3d(-24rem);
  }
}
@-webkit-keyframes circle3 {
  0% {
    transform: translateX(-14rem);
  }
  33% {
    transform: translateY(16rem);
  }
  66% {
    transform: translateY(-16rem);
    transform: translateX(17rem);
  }
  100% {
    transform: translate3d(-14rem);
  }
}
@keyframes circle3 {
  0% {
    transform: translateX(-14rem);
  }
  33% {
    transform: translateY(16rem);
  }
  66% {
    transform: translateY(-16rem);
    transform: translateX(17rem);
  }
  100% {
    transform: translate3d(-14rem);
  }
}
@-webkit-keyframes square {
  0% {
    transform: scale(0.6);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.6);
  }
}
@keyframes square {
  0% {
    transform: scale(0.6);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.6);
  }
}
@-webkit-keyframes circle4 {
  0% {
    transform: translateX(-24rem);
  }
  33% {
    transform: translateY(26rem);
  }
  66% {
    transform: translateY(-26rem);
    transform: translateX(17rem);
  }
  100% {
    transform: translate3d(-24rem);
  }
}
@keyframes circle4 {
  0% {
    transform: translateX(-24rem);
  }
  33% {
    transform: translateY(26rem);
  }
  66% {
    transform: translateY(-26rem);
    transform: translateX(17rem);
  }
  100% {
    transform: translate3d(-24rem);
  }
}
.about {
  padding: 0 1.5rem;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10000000;
  position: relative;
  background-image: linear-gradient(120deg, #7852a9, #9969d8, #fa6a78);
}
@media screen and (min-width: 56.25em) {
  .about {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.about__navigation {
  position: inherit;
  z-index: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.about__navigation--icon {
  transform: scale(0.6);
}
.about__navigation--label {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  color: #eee;
  padding-right: 1.8rem;
}
.about__navigation--label::before {
  position: absolute;
  bottom: -20%;
  content: "";
  height: 0.3rem;
  width: 60%;
  background-color: #eace09;
  border-radius: 1000px;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0 1.5rem;
}
.about__text {
  position: inherit;
  z-index: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #eee;
  text-align: center;
}
@media screen and (min-width: 56.25em) {
  .about__text {
    max-width: 60%;
  }
}
.about__text--introduction {
  font-size: 4.2rem;
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.2rem;
  font-weight: 600;
}
.about__text--description {
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 400;
}
.about__tech {
  margin: 5rem 0;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "Roboto", serif;
  color: #293435;
}
.about__tech--item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 0.8rem;
  background-color: #eee;
  padding: 0.6rem 0.8rem;
  border-radius: 0.6rem;
}
.about__tech--icon {
  transform: scale(1.2);
}

.contact {
  position: relative;
  z-index: 100000;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.contact > * {
  position: inherit;
  z-index: inherit;
}
@media screen and (min-width: 56.25em) {
  .contact {
    height: 100vh;
    scroll-snap-align: start;
  }
}
.contact__container {
  display: none;
}
@media screen and (min-width: 56.25em) {
  .contact__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #000;
  }
}
.contact__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 56.25em) {
  .contact__wrapper {
    width: 50%;
  }
}
.contact__heading {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #293435;
  width: 90%;
}
@media screen and (min-width: 56.25em) {
  .contact__heading {
    font-size: 4rem;
    padding: 1.2rem;
    border-bottom: 1px solid rgb(56, 54, 54);
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
  padding: 1.5rem;
  width: 100%;
}
.contact__form--container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
@media screen and (min-width: 46.75em) {
  .contact__form--container {
    flex-direction: row;
  }
}
.contact__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1.4rem;
}
@media screen and (min-width: 56.25em) {
  .contact__text {
    width: 50%;
  }
}
.contact__text--label {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-family: "Roboto", serif;
  color: #293435;
}
.contact__text--input {
  padding: 1.4rem;
  border-radius: 0.8rem;
  border: 0.4px solid #7852a9;
  outline: none;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  color: #293435;
}
@media screen and (min-width: 56.25em) {
  .contact__text--input {
    width: 99%;
  }
}
.contact__textbox {
  display: flex;
  flex-direction: column;
}
.contact__textbox--input {
  padding: 1.5rem 2.5rem;
}
.contact__button {
  padding: 1.5rem;
  width: 100%;
  margin-top: 1.2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: none;
  padding: 2rem 2.5rem;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  border: 2px solid #7852a9;
  color: #7852a9;
  cursor: pointer;
}
@media screen and (min-width: 56.25em) {
  .contact__button {
    width: 99%;
  }
}
.contact__button:hover, .contact__button:focus {
  border: 2px solid transparent;
  color: #eee;
  background-color: #7852a9;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer {
  min-height: 100vh;
  position: relative;
  z-index: 100000;
  background-image: linear-gradient(135deg, #7852a9, #9969d8, #fa6a78);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.footer > * {
  position: inherit;
  z-index: inherit;
}
@media screen and (min-width: 56.25em) {
  .footer {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.footer__icon {
  transform: scale(1.4);
}
.footer__heading {
  font-size: 3.2rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #eee;
}
.footer__secondary {
  color: #eee;
  font-family: "Roboto", serif;
  font-size: 2.2rem;
  font-weight: 400;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__socials--link {
  background-color: #eee;
  border-radius: 0.6rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.footer__socials--link:hover, .footer__socials--link:focus {
  transform: scale(1.2);
}
.footer__socials--icon {
  transform: scale(1.4);
}
.footer__information {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__addresses {
  color: #eee;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.footer__addresses--address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Roboto", serif;
  gap: 0.8rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.app {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  background-color: #eee;
  scroll-behavior: smooth;
}
@media screen and (min-width: 56.25em) {
  .app {
    height: 100vh;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}/*# sourceMappingURL=globals.css.map */